.input-group {
  width: 100%;
}

.input-label {
  color: #6c6c6c;
  font-size: 15px;
  font-weight: 600;
  width: 100%;
}

.step3-col {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

#cardHolder, #cardNumber {
  width: 520px;
}

#ccv, #input-label-ccv {
 margin-left: 20px;
}